.logoNav {
	width: 20%;
	margin-left: 30px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.linkR{
	color: black;
	font-family: "Open Sans";
	font-style: bold;
}

.navSpace{
	margin: 0 auto;
	width: 70%;

}
